@model GOB.SPF.ConecII.Entities.Plantilla.Contratantes
@Html.HiddenFor(model => model.IdContratante)
@{
    GOB.SPF.ConecII.Entities.Plantilla.ContratantesDtoBuscar buscar = ViewBag.Buscar;
}
<div id="divContratantes">
    @Html.Hidden("IdContratanteBuscar", buscar.IdContratanteBuscar)
    @Html.Hidden("IdTipoDocumentoBuscar", buscar.IdTipoDocumentoBuscar)
    @Html.Hidden("NombreBuscar", buscar.NombreBuscar)
    @Html.Hidden("CargoBuscar", buscar.CargoBuscar)
    @Html.Hidden("DomicilioBuscar", buscar.DomicilioBuscar)
    @Html.Hidden("FechaInicialBuscar", buscar.FechaInicialBuscar)
    @Html.Hidden("FechaFinalBuscar", buscar.FechaFinalBuscar)
    @Html.Hidden("ActivoBuscar", buscar.ActivoBuscar)
    @Html.Hidden("PageCurrent", buscar.PageCurrent)
    @Html.Hidden("PageSize", buscar.PageSize)
    @Html.Hidden("ItemId", buscar.ItemId)

    @Html.ValidationSummary(true)

    <div class="row form-group">
        @Html.LabelFor(model => model.IdContratante, new { @class = "col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1 col-xs-1 col-sm-1 col-md-1 col-lg-1 control-label" })
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            @Html.EditorFor(model => model.IdContratante, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.IdContratante)
        </div>
        @Html.LabelFor(model => model.Nombre, new { @class = "col-xs-1 col-sm-1 col-md-1 col-lg-1 control-label" })
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Nombre)
        </div>
    </div>
    <div class="row form-group">
        @Html.LabelFor(model => model.Cargo, new { @class = "col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1 col-xs-1 col-sm-1 col-md-1 col-lg-1 control-label" })
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            @Html.EditorFor(model => model.Cargo, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Cargo)
        </div>
        @Html.LabelFor(model => model.Domicilio, new { @class = "col-xs-1 col-sm-1 col-md-1 col-lg-1 control-label" })
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            @Html.EditorFor(model => model.Domicilio, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Domicilio)
        </div>
    </div>
    <div class="row form-group">
        @Html.LabelFor(model => model.FechaInicial, new { @class = "col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1 col-xs-1 col-sm-1 col-md-1 col-lg-1 control-label" })
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            @Html.EditorFor(model => model.FechaInicial, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.FechaInicial)
        </div>
        @Html.LabelFor(model => model.FechaFinal, new { @class = "col-xs-1 col-sm-1 col-md-1 col-lg-1 control-label" })
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            @Html.EditorFor(model => model.FechaFinal, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.FechaFinal)
        </div>
    </div>
    <div class="row form-group">
        @Html.LabelFor(model => model.Activo, new { @class = "col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1 col-xs-1 col-sm-1 col-md-1 col-lg-1 control-label" })
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            @Html.CheckBoxFor(model => model.Activo, new { @class = "form-control" } )
            @Html.ValidationMessageFor(model => model.Activo)
        </div>
    </div>
        @Html.LabelFor(model => model.IdTipoDocumento, new { @class = "col-xs-1 col-sm-1 col-md-1 col-lg-1 control-label" })
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            @Html.DropDownListFor(model => model.IdTipoDocumento, new SelectList(ViewBag.lstTiposDocumento, "Id", "Valor"), "Seleccionar...", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.IdTipoDocumento)
        </div>
    </div>
    <br />
</div>
