@{
    ViewBag.Title = "Consulta Cuota";
}

@section Styles{
    <link href="~/Content/jquery-ui.css" rel="stylesheet" />
}

<ol class="breadcrumb">
    <li><span class="glyphicon glyphicon-home" aria-hidden="true"></span></li>
    <li><a href="#">Catalogos</a></li>
    <li><a href="#" class="active">Cuota</a></li>
</ol>
<div class="flip">
    <div class="front">
        <div class="top-buffer">
            <h3>@ViewBag.Title</h3>
            <hr class="red">
        </div>
        <div class="col-sm-4 form-group">
            <label class="control-label">Estatus:</label>
            <div class="col-sm-12">
                <label class="radio-inline" for="activo">
                    <input type="radio" name="estatus" value="true" checked="checked">Activo
                </label>
                <label class="radio-inline" for="inactivo">
                    <input type="radio" name="estatus" value="false">Inactivo
                </label>
            </div>
        </div>
        <div class="ui-widget col-md-4 form-group">
            <label class="control-label">Tipo Servicio:</label>
            @Html.DropDownList("Servicios", (IEnumerable<SelectListItem>)ViewBag.Servicios, "Seleccione", new { @class = "form-control" })
        </div>
        <div class="ui-widget col-md-4 form-group">
            <label class="control-label">Concepto:</label>
            @Html.DropDownList("Conceptos", (IEnumerable<SelectListItem>)ViewBag.Conceptos, "Seleccione", new { @class = "form-control" })
        </div>
        <div class="ui-widget col-md-4 form-group">
            <label class="control-label">Fecha Vigor:</label>
            @Html.DropDownList("FechaVigor", (IEnumerable<SelectListItem>)ViewBag.Anios, "Seleccione", new { @class = "form-control" })
        </div>
        <div class="ui-widget col-md-4 form-group">
            <label class="control-label">Productos/Aprovechamientos:</label>
            @Html.DropDownList("Productos", (IEnumerable<SelectListItem>)ViewBag.ProductosAprovechamientos, "Seleccione", new { @class = "form-control" })
        </div>
        <div class="col-md-12">
            <div class="pull-right">
                <button type="button" class="btn btn-default" id="btnBuscar">
                    <span class="glyphicon glyphicon-search"></span>Buscar
                </button>
            </div>
        </div>
        

                <div id="divCuota"></div>
</div>
    <div class="back">
    </div>
    <input type="hidden" id="TipoServicioId" />
    <input type="hidden" id="CuotaConceptoId" />
    <input type="hidden" id="FechaEntradaVigorId" />
    <input type="hidden" id="EsProductoId" />


</div>

@section Scripts{
    <script src="~/Scripts/Controls/chosen.jquery.js"></script>  
    <script src="~/Scripts/conec/catalogo/cuota.js"></script>
}

