@model IEnumerable<GOB.SPF.ConecII.Web.Models.EtiquetasParrafo>

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <h2>Registro de EtiquetasParrafo</h2>
</div>
@{
    GOB.SPF.ConecII.Web.Models.EtiquetasParrafoDtoBuscar buscar = ViewBag.Buscar;
    buscar.ItemId = 0;
    int contador = 0;
}

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="row">
        <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11">
            @if (@ViewBag.msj != null)
            {
                <div class="alert alert-success alert-Dismissible" role="alert" style="padding:6px;margin-bottom:0px">
                    <button type="button" class="close" data-dismiss="alert">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                    @ViewBag.msj
                </div>
            }
        </div>

        <div class="col-xs- col-sm-1 col-md-1 col-lg-1">
            <div class="pull-right">
                @Ajax.ActionLink(" Agregar", "AddModifyItem", "EtiquetasParrafoUI", buscar,
                                    new AjaxOptions
                                    {
                                        HttpMethod = "POST",
                                        InsertionMode = InsertionMode.Replace,
                                        UpdateTargetId = "AddEditEtiquetasParrafo",
                                        OnSuccess = "rendererValidator"
                                    }, new { @class = "btn btn-primary  glyphicon glyphicon-plus-sign", data_toggle = "modal", data_target = "#addEdit" })
            </div>
        </div>
    </div>
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th style="text-align:center">
                    @Html.DisplayNameFor(model => model.IdEtiquetaParrafo)
                </th>
                <th style="text-align:center">
                    @Html.DisplayNameFor(model => model.Etiqueta)
                </th>
                <th style="text-align:center">
                    @Html.DisplayNameFor(model => model.Contenido)
                </th>
                <th style="text-align:center">
                    @Html.DisplayNameFor(model => model.Negrita)
                </th>
                <th style="text-align:center">
                    @Html.DisplayNameFor(model => model.Orden)
                </th>
                @*<th style="text-align:center">
                    @Html.DisplayNameFor(model => model.FechaInicial)
                </th>
                <th style="text-align:center">
                    @Html.DisplayNameFor(model => model.FechaFinal)
                </th>*@
                <th style="text-align:center">
                    @Html.DisplayNameFor(model => model.Activo)
                </th>
                <th style="text-align:center">
                    @Html.DisplayNameFor(model => model.Parrafos)
                </th>
                <th style="text-align:center">Editar</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                contador++;
                <tr>
                    <td width="0%">
                        @Html.DisplayFor(modelItem => item.IdEtiquetaParrafo)
                    </td>
                    <td width="0%">
                        @Html.DisplayFor(modelItem => item.Etiqueta)
                    </td>
                    <td width="0%">
                        @Html.DisplayFor(modelItem => item.Contenido)
                    </td>
                    <td width="0%">
                        @Html.DisplayFor(modelItem => item.Negrita)
                    </td>
                    <td width="0%">
                        @Html.DisplayFor(modelItem => item.Orden)
                    </td>
                    @*<td width="0%">
                    </td>
                    <td width="0%">
                    </td>*@
                    <td width="0%">
                        @Html.DisplayFor(modelItem => item.Activo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Parrafos.Nombre)
                    </td>
                    <td>
                        @{
                            buscar.ItemId = item.IdEtiquetaParrafo;
                        }
                        @Ajax.ActionLink(" Editar", "AddModifyItem", "EtiquetasParrafoUI",
                        buscar,
                        new AjaxOptions
                        {
                            HttpMethod = "POST",
                            InsertionMode = InsertionMode.Replace,
                            UpdateTargetId = "AddEditEtiquetasParrafo"
                        }, new { @class = "btn btn-warning glyphicon glyphicon-pencil", data_toggle = "modal", data_target = "#addEdit" })
                    </td>
                </tr>
            }
            @while (contador < buscar.PageSize)
            {
                contador++;
                <tr>
                    <td>
                        &nbsp;
                    </td>
                    <td>
                        &nbsp;
                    </td>
                    <td>
                        &nbsp;
                    </td>
                    <td>
                        &nbsp;
                    </td>
                    <td>
                        &nbsp;
                    </td>
                    @*<td>
                        &nbsp;
                    </td>
                    <td>
                        &nbsp;
                    </td>*@
                    <td>
                        &nbsp;
                    </td>
                    <td>
                        &nbsp;
                    </td>
                    <td>
                        <button type="submit" class="btn btn-warning glyphicon glyphicon-pencil" disabled="disabled">
                            Editar
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
@{
    buscar.ItemId = null;
}
