@using GOB.SPF.ConecII.Web.Models;

@section Styles{
    <link href="~/Content/jquery-ui.css" rel="stylesheet" />
    <style>
        .errorInvisible {
            visibility: collapse;
            position: absolute;
        }
        .errorInvisibleBorder{
            border: 3px solid #d0021b;
        }
    </style>
}

@{
    ViewBag.Title = "Configuración de Servicios";
    var listActividades = ((List<UiActividad>)ViewBag.Actividades).Where(f => f.SePuedeAplicarPlazo == false).ToList();
    var listActividadesTiempo = ((List<UiActividad>)ViewBag.Actividades).Where(f => f.SePuedeAplicarPlazo == true).ToList();
    var listRegimenFiscal = (List<UiRegimenFiscal>)ViewBag.RegimenFiscal;
    var regimenIdentificador = Newtonsoft.Json.JsonConvert.SerializeObject(listRegimenFiscal.Select(f => f.Identificador).ToList());
}
<ol class="breadcrumb">
    <li><span class="glyphicon glyphicon-home" aria-hidden="true"></span></li>
    <li><a href="#">Configuracion</a></li>
    <li><a href="~/Configuracion/Servicios" class="active">@ViewBag.Title</a></li>
</ol>
<div class="top-buffer">
    <h3>@ViewBag.Title</h3>
    <hr class="red">
</div>
<div class="flip">
    <div class="front">
        <div class="row">
            <div class="col-sm-10">
                <div class="col-sm-3">
                    <label>Tipo Servicio:</label>
                    @Html.DropDownList("selBuscaTipoServicio", (IEnumerable<SelectListItem>)ViewBag.Servicios, "Seleccione", new { @class = "form-control" })
                </div>
            </div>
            <div class="col-sm-1" style="padding-bottom: 20px; padding-top: 26px; padding-left: 34px;">
                <input type="button" class="btn btn-default" value="Buscar" id="btnBuscar" />
            </div>
            <div id="divServicio"></div>
        </div>
    </div>
    <div class="back">
        <div class="row" id="formControlConfiguracion">
            <div class="col-sm-12">
                <div class="col-sm-3 form-group">
                    <label>Tipo Servicio:</label>
                    @Html.DropDownList("selTipoServicio", (IEnumerable<SelectListItem>)ViewBag.Servicios, "Seleccione", new { @class = "form-control" })
                    <span class="field-validation-error errorInvisible" id="selTipoServicioToltip">
                        <span>El identificador del tipo de servicio es necesario.</span>
                    </span>
                </div>
                <div class="col-sm-3 form-group">
                    <label>Area:</label>
                    @Html.DropDownList("selArea", (IEnumerable<SelectListItem>)ViewBag.Areas, "Seleccione", new { @class = "form-control" })
                    <span class="field-validation-error errorInvisible" id="selAreaTooltip">
                        <span>El identificador del centro de costo es necesario.</span>
                    </span>
                    <input type="hidden" id="areaComplete" />
                </div>

            </div>
        </div>

        <div class="row" id="formConfiguracion">
            @{
                foreach (var regimenFiscal in ViewBag.RegimenFiscal)
                {
                    <div class="panel-group" id="pnlRegimen">
                        <div class="panel panel-default" data-region="default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <input type="checkbox" onchange="removeTooltip(this)" class="checkbox" name="actRegFis" style="position:absolute;" 
                                           id="@string.Format("regact{0}",regimenFiscal.Identificador)" />
                                    <a data-toggle="collapse" data-parent="#pnlRegimen" data-region="title" 
                                       href="@string.Format("{0}{1}","#collapse",regimenFiscal.Identificador)" 
                                       style="margin-left:25px;" disable="true" >@regimenFiscal.Name</a>
                                    <span class="field-validation-error errorInvisible" name="actRegFis">
                                        <span style="font-weight: normal;">El identificador del regimen fiscal es necesario.</span>
                                    </span>
                                </h4>
                            </div>
                            <div class="panel-collapse collapse" data-region="content" id="@string.Format("{0}{1}","collapse",regimenFiscal.Identificador)">
                                <div class="panel-body">
                                    <div class="col-sm-12" style="padding-bottom:10px;">
                                        <div class="col-sm-3">
                                            <div class="panel panel-default" name="@string.Format("actBorTipPag{0}",regimenFiscal.Identificador)">
                                                <div class="panel-heading">
                                                    <h1 class="panel-title">
                                                        Tipos de pago
                                                    </h1>
                                                </div>
                                                <div class="panel-body" data-region="tipoPago" id="@string.Format("{0}{1}","tipoPago",regimenFiscal.Identificador)">
                                                    @{
                                                        foreach (var pago in ViewBag.TipoPago)
                                                        {
                                                            <div class="checkbox">
                                                                <label><input type="checkbox" data-tipoPago="@pago.Identificador" data-regimen="@regimenFiscal.Identificador" onchange="Ui.prototype.disable(this)">@pago.Name</label>
                                                            </div>
                                                        }
                                                    }
                                                    <span class="field-validation-error errorInvisible" id="@string.Format("tipopagoTooltip{0}",regimenFiscal.Identificador)">
                                                        <span>El identificador del tipo de pago es necesario.</span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-9">
                                            <div class="panel panel-default" name="actBorderAact">
                                                <div class="panel-heading">
                                                    <h1 class="panel-title">
                                                        Actividades Configurables
                                                        <span class="field-validation-error errorInvisible" name="actPlazo">
                                                            <span style="font-weight: normal;">La actividad es necesaria.</span>
                                                        </span>
                                                    </h1>
                                                </div>
                                                <div class="panel-body" style="font-size:14px;" data-region="actividades" id="@string.Format("{0}{1}","actividades",regimenFiscal.Identificador)">
                                                    @{
                                                        foreach (var actividad in listActividades)
                                                        {
                                                            <div class="col-sm-3">
                                                                <div class="checkbox">
                                                                    <label><input type="checkbox" data-actividad="@actividad.Identificador" onchange="removeTooltip(this)">@actividad.Name </label>
                                                                </div>
                                                            </div>
                                                        }
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12" style="padding-bottom:10px;">
                                        <div class="col-sm-12">
                                            <div class="panel panel-default" name="actBorPlaxo">
                                                <div class="panel-heading">
                                                    <h1 class="panel-title">
                                                        Fijar plazo por actividad
                                                        <span class="field-validation-error errorInvisible" name="actPlazo">
                                                            <span style="font-weight: normal;">La actividad es necesaria.</span>
                                                        </span>
                                                    </h1>
                                                </div>
                                                <div class="panel-body">
                                                    <div class="col-sm-8" data-region="tiempo" id="@string.Format("{0}{1}","tiempo",regimenFiscal.Identificador)">
                                                        @{

                                                            foreach (var actividad in listActividadesTiempo)
                                                            {
                                                                <div class="checkbox">
                                                                    <label><input type="checkbox" data-regimen="@regimenFiscal.Identificador" data-actividad="@actividad.Identificador" name="@actividad.Name" onchange="Ui.prototype.checkActividad(this)">@actividad.Name </label>
                                                                    
                                                                </div>
                                                                <input type="number" class="form-control" value="0" min="0" data-regimen="@regimenFiscal.Identificador" data-actividad="@actividad.Identificador" onchange="SetTiempo(this)" style="width:50px;height:25px;margin-left:20px;" />
                                                            }
                                                        }
                                                    </div>
                                                    <div class="col-sm-4 panel panel-default" style="font-size:15px;" data-region="documentos" id="@string.Format("documentos{0}",regimenFiscal.Identificador)">

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                                                            }
            }            
            <div class="row">

                <div class="col-sm-12" style="text-align:right;margin-bottom:20px;">
                    <button type="button" class="btn btn-default" id="btnBack">
                        <span class="glyphicon glyphicon-backward"></span>Cancelar
                    </button>
                    <input type="button" class="btn btn-default" value="Guardar" data-region="boton" onclick="Ui.prototype.guardar(this)" data-regimen="@regimenIdentificador" />
                </div>
            </div>

        </div>
    </div>
</div>
@section Scripts{
    <script src="~/Scripts/Controls/chosen.jquery.js"></script>
    <script src="~/Scripts/conec/configuracion/Servicios.js"></script>
}