<nav class="navbar navbar-default fixed-animated">
     <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                Catálogos
                <span class="caret"></span>
            </a>
                <li>@Html.ActionLink("Divisiones", "Divisiones", "Catalogo")</li>
                <li>@Html.ActionLink("Grupos", "Grupos", "Catalogo")</li>
                <li>@Html.ActionLink("Fracciones","Fracciones","Catalogo")</li>
                <li>@Html.ActionLink("Factores", "Factores", "Catalogo")</li>
                <li>@Html.ActionLink("Clasificación factor", "ClasificacionesFactor", "Catalogo")</li>
                <li>@Html.ActionLink("Gastos Inherentes", "GastosInherentes", "Catalogo")</li>
                <li>@Html.ActionLink("Factor Ley de Ingresos", "FactorLeyIngresos", "Catalogo")</li>
                <li>@Html.ActionLink("Referencias", "Referencias", "Catalogo")</li>
                <li>@Html.ActionLink("Tipos de Servicio", "TiposServicios", "Catalogo")</li>
                <li>@Html.ActionLink("Tipos de Documentos", "TiposDocumento", "Catalogo")</li>
                <li>@Html.ActionLink("Periodos", "Periodos", "Catalogo")</li>
                <li>@Html.ActionLink("Cuotas", "Cuotas", "Catalogo")</li>
                <li>@Html.ActionLink("Dependencias", "Dependencias", "Catalogo")</li>
                <li>@Html.ActionLink("Factor Entidades Federativas", "FactorEntidadesFederativas", "Catalogo")</li>
                <li>@Html.ActionLink("Factores Municipio", "FactoresMunicipio", "Catalogo")</li>
                <li>@Html.ActionLink("Factores Actividad Economica", "Factores Actividad Economica", "Catalogo")</li>
        </li>
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                Configuraciones
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li>@Html.ActionLink("Servicios", "Servicio", "Configuracion")</li>
                <li>@Html.ActionLink("Plantillas", "Plantillas", "Configuracion")</li>
                <li>@Html.ActionLink("Notificaciones y Alertas", "NotifacionesAlertas", "Configuracion")</li>
                <li>@Html.ActionLink("Areas Validadoras", "AreasValidadoras", "Configuración")</li>                
            </ul>
        </li>
    </ul>
</nav>
