@model GOB.SPF.ConecII.Entities.IPagedView

@{
    ViewBag.Title = "Administrar Parrafos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Administrar Parrafos</h2>

@using (Ajax.BeginForm("Find", "ParrafosUI",
    new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = "searchResults" }, 
    new { id = "Buscar", @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()

    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row form-group">
                @Html.Label("Nombre", new { @class = "col-xs-1 col-sm-1 col-md-1 col-lg-1 control-label" })
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                    @Html.TextBox("NombreBuscar", null, new { id = "NombreBuscar", @class = "form-control" })
                </div>
                @Html.Label("Texto", new { @class = "col-xs-1 col-sm-1 col-md-1 col-lg-1 control-label" })
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                    @Html.TextBox("TextoBuscar", null, new { id = "TextoBuscar", @class = "form-control" })
                </div>
            </div>
            <div class="row form-group">
                @Html.Label("Activo", new { @class = "col-xs-1 col-sm-1 col-md-1 col-lg-1 control-label" })
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                    <select id="ActivoBuscar" name="ActivoBuscar" class="form-control">
                        <option value="" selected="selected">Todos</option>
                        <option value="true">Activo</option>
                        <option value="false">Inactivo</option>
                    </select>
                </div>
            </div>
            <div class="row form-group">
                @Html.Label("TiposDocumento", new { @class = "col-xs-1 col-sm-1 col-md-1 col-lg-1 control-label" })
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                    @Html.DropDownList("IdTipoDocumentoBuscar", new SelectList(ViewBag.lstTiposDocumento, "Id", "Valor"), "Seleccione...", new { @class = "form-control" })
                </div>
            </div>
            <div class="row form-group">
                <div class="col-xs-offset-11 col-sm-offset-11 col-md-offset-11 col-lg-offset-11 col-xs-1 col-sm-1 col-md-1 col-lg-1">
                    <button type="submit" class="btn btn-info glyphicon glyphicon-search pull-right">
                        Buscar
                    </button>
                </div>
            </div>
            @*Invocamos la vist parcial para visualizar los registros que hay de los Parrafos *@
            <div class="row">
                <div id="searchResults" class="content-table">
                    @{ Html.RenderPartial("_Busqueda", Model);}
                </div>
            </div>
        </div>
    </div>
}

@using (Ajax.BeginForm(null, null, new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = "searchResults", OnSuccess = "closeModal" }, new { id = "Editar" }))
{
    @Html.AntiForgeryToken()
    <div class="modal  fade" id="addEdit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="width:1000px;">
            <div id="AddEditParrafos">

            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/ajax")
}
