@model GOB.SPF.ConecII.Entities.Plantilla.EtiquetasParrafo
@Html.HiddenFor(model => model.IdEtiquetaParrafo)
@{
    GOB.SPF.ConecII.Entities.Plantilla.EtiquetasParrafoDtoBuscar buscar = ViewBag.Buscar;
}
<div id="divEtiquetasParrafo">
    @Html.Hidden("IdTipoDocumentoBuscar", Request["IdTipoDocumentoBuscar"])
    @Html.Hidden("IdEtiquetaParrafoBuscar", buscar.IdEtiquetaParrafoBuscar)
    @Html.Hidden("IdParrafoBuscar", buscar.IdParrafoBuscar)
    @Html.Hidden("EtiquetaBuscar", buscar.EtiquetaBuscar)
    @Html.Hidden("ContenidoBuscar", buscar.ContenidoBuscar)
    @Html.Hidden("NegritaBuscar", buscar.NegritaBuscar)
    @Html.Hidden("OrdenBuscar", buscar.OrdenBuscar)
    @Html.Hidden("FechaInicialBuscar", buscar.FechaInicialBuscar)
    @Html.Hidden("FechaFinalBuscar", buscar.FechaFinalBuscar)
    @Html.Hidden("ActivoBuscar", buscar.ActivoBuscar)
    @Html.Hidden("PageCurrent", buscar.PageCurrent)
    @Html.Hidden("PageSize", buscar.PageSize)
    @Html.Hidden("ItemId", buscar.ItemId)

    @Html.ValidationSummary(true)

    <div class="row form-group">
        @Html.LabelFor(model => model.IdEtiquetaParrafo, new { @class = "col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1 col-xs-1 col-sm-1 col-md-1 col-lg-1 control-label" })
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            @Html.EditorFor(model => model.IdEtiquetaParrafo, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.IdEtiquetaParrafo)
        </div>
        @Html.LabelFor(model => model.Etiqueta, new { @class = "col-xs-1 col-sm-1 col-md-1 col-lg-1 control-label" })
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            @Html.EditorFor(model => model.Etiqueta, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Etiqueta)
        </div>
    </div>
    <div class="row form-group">
        @Html.LabelFor(model => model.Contenido, new { @class = "col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1 col-xs-1 col-sm-1 col-md-1 col-lg-1 control-label" })
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            @Html.EditorFor(model => model.Contenido, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Contenido)
        </div>
        @Html.LabelFor(model => model.Negrita, new { @class = "col-xs-1 col-sm-1 col-md-1 col-lg-1 control-label" })
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            @Html.EditorFor(model => model.Negrita, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Negrita)
        </div>
    </div>
    <div class="row form-group">
        @Html.LabelFor(model => model.Orden, new { @class = "col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1 col-xs-1 col-sm-1 col-md-1 col-lg-1 control-label" })
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            @Html.EditorFor(model => model.Orden, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Orden)
        </div>
        @Html.LabelFor(model => model.FechaInicial, new { @class = "col-xs-1 col-sm-1 col-md-1 col-lg-1 control-label" })
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            @Html.EditorFor(model => model.FechaInicial, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.FechaInicial)
        </div>
    </div>
    <div class="row form-group">
        @Html.LabelFor(model => model.FechaFinal, new { @class = "col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1 col-xs-1 col-sm-1 col-md-1 col-lg-1 control-label" })
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            @Html.EditorFor(model => model.FechaFinal, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.FechaFinal)
        </div>
        @Html.LabelFor(model => model.Activo, new { @class = "col-xs-1 col-sm-1 col-md-1 col-lg-1 control-label" })
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            @Html.EditorFor(model => model.Activo, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Activo)
        </div>
    </div>
    <div class="row form-group">
        @if (Model.Parrafos == null)
        { 
            @Html.LabelFor(model => model.IdParrafo, new { @class = "col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1 col-xs-1 col-sm-1 col-md-1 col-lg-1 control-label" })
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                @Html.DropDownListFor(model => model.IdParrafo, new SelectList(ViewBag.lstParrafos, "Id", "Valor"), "Seleccionar...", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.IdParrafo)
            </div>
        }
        else
        {
        @Html.LabelFor(model => model.Parrafos.Nombre, new { @class = "col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1 col-xs-1 col-sm-1 col-md-1 col-lg-1 control-label" })
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            @Html.EditorFor(model => model.Parrafos.Nombre, new { htmlAttributes = new { @class = "form-control ", disabled = "disabled" } })
            @Html.ValidationMessageFor(model => model.Parrafos.Nombre)
        </div>
        @Html.HiddenFor(model => model.IdParrafo)
        }
    </div>
</div>
