@model GOB.SPF.ConecII.Web.Models.UiClasificacionFactor
@using (Html.BeginForm("ClasificacionFactor", "Catalogo", FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "clasificacionFactorForm" }))
{
    @Html.ValidationSummary(true)
    <div class="top-buffer">
        <h3>@ViewBag.Title</h3>
        <hr class="red">
    </div>

    if (Model.Action.Equals(GOB.SPF.ConecII.Web.Models.UiEnumEntity.View))
    {
        <div class="form-group">
            @Html.LabelFor(m => m.Nombre, "Nombre*:")
            @Html.TextBoxFor(m => m.Nombre, new { @class = "form-control", placeholder = "Ingresa Nombre", @readonly = true, @disabled = true })
            @Html.ValidationMessageFor(m => m.Nombre)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Descripcion, "Descripción*:")
            @Html.TextAreaFor(m => m.Descripcion, new { @class = "form-control", placeholder = "Ingresa Descripción", @readonly = true, @disabled = true })
            @Html.ValidationMessageFor(m => m.Descripcion)
        </div>
    }
    else
    {
        @Html.HiddenFor(m => m.Identificador)
        <div class="form-group">
            @Html.LabelFor(m => m.Nombre, "Nombre*:")
            @Html.TextBoxFor(m => m.Nombre, new { @class = "form-control", placeholder = "Ingresa Nombre" })
            @Html.ValidationMessageFor(m => m.Nombre)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Descripcion, "Descripción*:")
            @Html.TextAreaFor(m => m.Descripcion, new { @class = "form-control", placeholder = "Ingresa Descripción" })
            @Html.ValidationMessageFor(m => m.Descripcion)
        </div>
    }
    <p class="pull-left">*Campos obligatorios</p>
    <div class="pull-right">
        <button type="button" class="btn btn-default" id="btnBack">
            <span class="glyphicon glyphicon-backward"></span>Cancelar
        </button>

        @if (!Model.Action.Equals(GOB.SPF.ConecII.Web.Models.UiEnumEntity.View))
        {
            <button type="button" class="btn btn-default" id="btnSave">
                <span class="glyphicon glyphicon-save"></span>Guardar
            </button>
        }
    </div>
}