@model GOB.SPF.ConecII.Web.Models.UiFactorLeyIngreso

@using (Html.BeginForm("FactorLeyIngreso", "Catalogo", FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "factorLeyIngresoForm" }))
{
    @Html.ValidationSummary(true)
    <div class="top-buffer">
        <h3>@ViewBag.Title</h3>
        <hr class="red">
    </div>

    if (Model.Action.Equals(GOB.SPF.ConecII.Web.Models.UiEnumEntity.View))
    {
        <div class="form-group">
            <div class="col-md-4">
                @Html.LabelFor(m => m.Anios, "Año*:")
                @Html.DropDownList("Anios", null, "Selecciona Año", htmlAttributes: new { @class = "form-control char10", @readonly = true, @disabled = true })
                @Html.ValidationMessageFor(m => m.Anios)
            </div>
            <div class="col-md-4">
                @Html.LabelFor(m => m.Meses, "Mes*:")
                @Html.DropDownList("Meses", null, "Selecciona Mes", htmlAttributes: new { @class = "form-control char10", @readonly = true, @disabled = true })
                @Html.ValidationMessageFor(m => m.Meses)
            </div>
            <div class="col-md-4">
                @Html.LabelFor(m => m.Factor, "Factor*:")
                @Html.TextBoxFor(m => m.Factor, new { @class = "form-control", placeholder = "Ingresa Factor", @type = "number", @readonly = true, @disabled = true })
                @Html.ValidationMessageFor(m => m.Factor)
            </div>
        </div>
    }
    else
    {
        @Html.HiddenFor(m => m.Identificador)
        <div class="form-group">
            <div class="col-md-4">
                @Html.LabelFor(m => m.Anios, "Año*:")
                @Html.DropDownList("Anios", null, "Selecciona Año", htmlAttributes: new { @class = "form-control char10" })
                @Html.ValidationMessageFor(m => m.Anios)
            </div>
            <div class="col-md-4">
                @Html.LabelFor(m => m.Meses, "Mes*:")
                @Html.DropDownList("Meses", null, "Selecciona Mes", htmlAttributes: new { @class = "form-control char10" })
                @Html.ValidationMessageFor(m => m.Meses)
            </div>
            <div class="col-md-4">
                @Html.LabelFor(m => m.Factor, "Factor*:")
                @Html.TextBoxFor(m => m.Factor, new { @class = "form-control", placeholder = "Ingresa Factor", @type = "number" })
                @Html.ValidationMessageFor(m => m.Factor)
            </div>
        </div>
    }
    <p class="pull-left">*Campos obligatorios</p>
    <div class="pull-right">
        <button type="button" class="btn btn-default" id="btnBack">
            <span class="glyphicon glyphicon-backward"></span>Cancelar
        </button>

        @if (!Model.Action.Equals(GOB.SPF.ConecII.Web.Models.UiEnumEntity.View))
        {
            <button type="button" class="btn btn-default" id="btnSave">
                <span class="glyphicon glyphicon-save"></span>Guardar
            </button>
        }
    </div>
}