@model GOB.SPF.ConecII.Web.Models.UiFactor
@using (Html.BeginForm("Factor", "Catalogo", FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "factorForm" }))
{
    @Html.ValidationSummary(true)
    <div class="top-buffer">
        <h3>@ViewBag.Title</h3>
        <hr class="red">
    </div>

    if (Model.Action.Equals(GOB.SPF.ConecII.Web.Models.UiEnumEntity.View))
    {
        <div class="form-group">
            <div class="col-md-4">
                @Html.LabelFor(m => m.IdTipoServicio, "Tipo Servicio*:")
                @Html.DropDownListFor(m => m.IdMedidaCobro, (IEnumerable<SelectListItem>)ViewBag.TipoServicio, "Selecciona Tipo Servicio", htmlAttributes: new { @class = "form-control char10", @readonly = true, @disabled = true })
                @Html.ValidationMessageFor(m => m.IdTipoServicio)
            </div>
            <div class="col-md-4">
                @Html.LabelFor(m => m.IdClasificacionFactor, "Clasificación Factor*:")
                @Html.DropDownListFor(m => m.IdMedidaCobro, (IEnumerable<SelectListItem>)ViewBag.Clasificacion, "Selecciona Clasificación", htmlAttributes: new { @class = "form-control char10", @readonly = true, @disabled = true })
                @Html.ValidationMessageFor(m => m.IdClasificacionFactor)
            </div>
            <div class="col-md-4">
                @Html.LabelFor(m => m.IdMedidaCobro, "Medida Cobro*:")
                @Html.DropDownListFor(m => m.IdMedidaCobro, (IEnumerable<SelectListItem>)ViewBag.MedidaCobro, "Selecciona Medida Cobro", htmlAttributes: new { @class = "form-control char10", @readonly = true, @disabled = true })
                @Html.ValidationMessageFor(m => m.IdMedidaCobro)
            </div>
            <div class="col-md-4">
                @Html.LabelFor(m => m.Nombre, "Nombre*:")
                @Html.TextBoxFor(m => m.Nombre, new { @class = "form-control", placeholder = "Ingresa Nombre", @readonly = true, @disabled = true })
                @Html.ValidationMessageFor(m => m.Nombre)
            </div>
            <div class="col-md-4">
                @Html.LabelFor(m => m.Descripcion, "Descripción*:")
                @Html.TextAreaFor(m => m.Descripcion, new { @class = "form-control", placeholder = "Ingresa Descripción", @readonly = true, @disabled = true })
                @Html.ValidationMessageFor(m => m.Descripcion)
            </div>
            <div class="col-md-4">
                @Html.LabelFor(m => m.CuotaFactor, "Cuota*:")
                @Html.TextBoxFor(m => m.CuotaFactor, new { @class = "form-control", placeholder = "Ingresa Cuota", @readonly = true, @disabled = true })
                @Html.ValidationMessageFor(m => m.CuotaFactor)
            </div>
            <div class="col-md-4">
                @Html.LabelFor(m => m.FechaAutorizacion, "Fecha Autorización*:")
                @Html.TextBoxFor(m => m.FechaAutorizacion, new { @class = "form-control", placeholder = "Ingresa Fecha Autorización", @type = "date", @readonly = true, @disabled = true })
                @Html.ValidationMessageFor(m => m.FechaAutorizacion)
            </div>
            <div class="col-md-4">
                @Html.LabelFor(m => m.FechaAutorizacion, "Fecha Autorización*:")
                @Html.TextBoxFor(m => m.FechaAutorizacion, new { @class = "form-control", placeholder = "Ingresa Fecha Autorización", @type = "date", @readonly = true, @disabled = true })
                @Html.ValidationMessageFor(m => m.FechaAutorizacion)
            </div>
            <div class="col-md-4">
                @Html.LabelFor(m => m.FechaEntradaVigor, "Fecha Entrada Vigor*:")
                @Html.TextBoxFor(m => m.FechaEntradaVigor, new { @class = "form-control", placeholder = "Ingresa Fecha Entrada Vigor", @type = "date", @readonly = true, @disabled = true })
                @Html.ValidationMessageFor(m => m.FechaEntradaVigor)
            </div>
            <div class="col-md-4">
                @Html.LabelFor(m => m.FechaTermino, "Fecha Termino*:")
                @Html.TextBoxFor(m => m.FechaTermino, new { @class = "form-control", placeholder = "Ingresa Fecha Termino", @type = "date", @readonly = true, @disabled = true })
                @Html.ValidationMessageFor(m => m.FechaTermino)
            </div>
            <div class="col-md-4">
                @Html.LabelFor(m => m.FechaPublicacionDof, "Fecha Publicación*:")
                @Html.TextBoxFor(m => m.FechaPublicacionDof, new { @class = "form-control", placeholder = "Ingresa Fecha Publicación", @type = "date", @readonly = true, @disabled = true })
                @Html.ValidationMessageFor(m => m.FechaPublicacionDof)
            </div>
        </div>
    }
    else
    {
        @Html.HiddenFor(m => m.Identificador)
        <div class="form-group">
            <div class="col-md-4">
                @Html.LabelFor(m => m.IdTipoServicio, "Tipo Servicio*:")
                @Html.DropDownListFor(m => m.IdTipoServicio, (IEnumerable<SelectListItem>)ViewBag.TipoServicio, "Selecciona Tipo Servicio", htmlAttributes: new { @class = "form-control char10" })
                @Html.ValidationMessageFor(m => m.IdTipoServicio)
            </div>
            <div class="col-md-4">
                @Html.LabelFor(m => m.IdClasificacionFactor, "Clasificación Factor*:")
                @Html.DropDownListFor(m => m.IdClasificacionFactor, (IEnumerable<SelectListItem>)ViewBag.Clasificacion, "Selecciona Clasificación", htmlAttributes: new { @class = "form-control char10" })
                @Html.ValidationMessageFor(m => m.IdClasificacionFactor)
            </div>
            <div class="col-md-4">
                @Html.LabelFor(m => m.IdMedidaCobro, "Medida Cobro*:")
                @Html.DropDownListFor(m => m.IdMedidaCobro, (IEnumerable<SelectListItem>)ViewBag.MedidaCobro, "Selecciona Medida Cobro", htmlAttributes: new { @class = "form-control char10" })
                @Html.ValidationMessageFor(m => m.IdMedidaCobro)
            </div>
            <div class="col-md-4">
                @Html.LabelFor(m => m.Nombre, "Nombre*:")
                @Html.TextBoxFor(m => m.Nombre, new { @class = "form-control", placeholder = "Ingresa Nombre" })
                @Html.ValidationMessageFor(m => m.Nombre)
            </div>
            <div class="col-md-4">
                @Html.LabelFor(m => m.Descripcion, "Descripción*:")
                @Html.TextAreaFor(m => m.Descripcion, new { @class = "form-control", placeholder = "Ingresa Descripción" })
                @Html.ValidationMessageFor(m => m.Descripcion)
            </div>
            <div class="col-md-4">
                @Html.LabelFor(m => m.CuotaFactor, "Cuota*:")
                @Html.TextBoxFor(m => m.CuotaFactor, new { @class = "form-control", placeholder = "Ingresa Cuota", @type = "number" })
                @Html.ValidationMessageFor(m => m.CuotaFactor)
            </div>
            <div class="col-md-4">
                @Html.LabelFor(m => m.FechaAutorizacion, "Fecha Autorización*:")
                @Html.TextBoxFor(m => m.FechaAutorizacion, new { @class = "form-control", placeholder = "Ingresa Fecha Autorización", @type = "date" })
                @Html.ValidationMessageFor(m => m.FechaAutorizacion)
            </div>
            <div class="col-md-4">
                @Html.LabelFor(m => m.FechaEntradaVigor, "Fecha Entrada Vigor*:")
                @Html.TextBoxFor(m => m.FechaEntradaVigor, new { @class = "form-control", placeholder = "Ingresa Fecha Entrada Vigor", @type = "date" })
                @Html.ValidationMessageFor(m => m.FechaEntradaVigor)
            </div>
            <div class="col-md-4">
                @Html.LabelFor(m => m.FechaTermino, "Fecha Termino*:")
                @Html.TextBoxFor(m => m.FechaTermino, new { @class = "form-control", placeholder = "Ingresa Fecha Termino", @type = "date" })
                @Html.ValidationMessageFor(m => m.FechaTermino)
            </div>
            <div class="col-md-4">
                @Html.LabelFor(m => m.FechaPublicacionDof, "Fecha Publicación*:")
                @Html.TextBoxFor(m => m.FechaPublicacionDof, new { @class = "form-control", placeholder = "Ingresa Fecha Publicación", @type = "date" })
                @Html.ValidationMessageFor(m => m.FechaPublicacionDof)
            </div>
        </div>

        <p class="pull-left">*Campos obligatorios</p>
        <div class="pull-right">
            <button type="button" class="btn btn-default" id="btnBack">
                <span class="glyphicon glyphicon-backward"></span>Cancelar
            </button>

            @if (!Model.Action.Equals(GOB.SPF.ConecII.Web.Models.UiEnumEntity.View))
            {
                <button type="button" class="btn btn-default" id="btnSave">
                    <span class="glyphicon glyphicon-save"></span>Guardar
                </button>
            }
        </div>
    }
}