@model GOB.SPF.ConecII.Web.Models.UiModulo
@using (Html.BeginForm("Módulo", "Catalogo", FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "moduloForm" }))
{
    @Html.ValidationSummary(true)
    <div class="top-buffer">
        <h3>@ViewBag.Title</h3>
        <hr class="red">
    </div>

    if (Model.Action.Equals(GOB.SPF.ConecII.Web.Models.UiEnumEntity.View))
    {
        <div class="form-group">
            <div class="col-md-4">
                @Html.LabelFor(m => m.Name, "Nombre:")
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control", placeholder = "Ingresa Nombre", @readonly = true, @disabled = true })
                @Html.ValidationMessageFor(m => m.Name)
            </div>
            <div class="col-md-4">
                @Html.LabelFor(m => m.Descripcion, "Descripción:")
                @Html.TextAreaFor(m => m.Descripcion, new { @class = "form-control", placeholder = "Ingresa descripción", @readonly = true, @disabled = true })
                @Html.ValidationMessageFor(m => m.Descripcion)
            </div>
            <div class="col-md-4">
                @Html.LabelFor(m => m.Enlace, "Enlace:")
                @Html.TextAreaFor(m => m.Enlace, new { @class = "form-control", placeholder = "Ingresa Enlace", @readonly = true, @disabled = true })
                @Html.ValidationMessageFor(m => m.Enlace)
            </div>
            <div class="col-md-4">
                @Html.LabelFor(m => m.IdPadre, "Módulo:")
                @Html.DropDownListFor(m => m.IdPadre, (IEnumerable<SelectListItem>)ViewBag.Modulos, "Selecciona un Módulo", htmlAttributes: new { @class = "form-control", @readonly = true, @disabled = true })
                @Html.ValidationMessageFor(m => m.IdPadre)
            </div>
        </div>
    }
    else
    {
        @Html.HiddenFor(m => m.Identificador)

        <div class="form-group">
            <div class="col-md-4">
                @Html.LabelFor(m => m.Name, "Nombre Módulo:")
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control", placeholder = "Ingresa Nombre" })
                @Html.ValidationMessageFor(m => m.Name)
            </div>
            <div class="col-md-4">
                @Html.LabelFor(m => m.Descripcion, "Descripción Módulo:")
                @Html.TextAreaFor(m => m.Descripcion, new { @class = "form-control", placeholder = "Ingresa descripción" })
                @Html.ValidationMessageFor(m => m.Descripcion)
            </div>
            <div class="col-md-4">
                @Html.LabelFor(m => m.Enlace, "Enlace:")
                @Html.TextAreaFor(m => m.Enlace, new { @class = "form-control", placeholder = "Ingresa Enlace" })
                @Html.ValidationMessageFor(m => m.Enlace)
            </div>
            <div class="col-md-4">
                    @Html.LabelFor(m => m.IdPadre, "Módulo:")
                    @Html.DropDownList("Modulos", null, "Selecciona Módulo", htmlAttributes: new { @class = "form-control char10" })
                    @Html.ValidationMessageFor(m => m.IdPadre)
            </div>
            
        </div>
    }
    <p class="pull-left">*Campos obligatorios</p>
    <div class="pull-right">
        <button type="button" class="btn btn-default" id="btnBack">
            <span class="glyphicon glyphicon-backward"></span>Cancelar
        </button>

        @if (!Model.Action.Equals(GOB.SPF.ConecII.Web.Models.UiEnumEntity.View))
        {
            <button type="button" class="btn btn-default" id="btnSave">
                <span class="glyphicon glyphicon-save"></span>Guardar
            </button>
        }
    </div>
}