<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CONEC II @ViewBag.Title</title>
    <link href="https://framework-gb.cdn.gob.mx/assets/styles/main.css" rel="stylesheet">
    <link href="~/Content/controls/crosslist.css" rel="stylesheet" />
    <link href="~/Content/Conec/Common/skinConec.css" rel="stylesheet" />
    <link href="~/Content/bootstrap/chosen.css" rel="stylesheet" />
    <!-- Respond.js soporte de media queries para Internet Explorer 8 -->
    <!-- ie8.js EventTarget para cada nodo en Internet Explorer 8 -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/ie8/0.2.2/ie8.js"></script>
    <![endif]-->    
   
    @RenderSection("styles", required: false)
</head>
<body>
    <header>
        @Html.Partial("_MenuVertical")
    </header>
    <main class="page">
        <div class="container top-margin">
            <div class="row">
                @RenderBody()
            </div>
        </div>
    </main>

    @Html.Hidden("UrlBase", Request.ApplicationPath)
    @Html.Hidden("urlScripts",System.Configuration.ConfigurationManager.AppSettings["urlSitioWeb"])

    <script src="~/Scripts/jquery/jquery-1.12.4.js"></script>
    <script src="~/Scripts/bootstrap/bootstrap.js"></script>
    <script src="~/Scripts/conec/common/main.js"></script>
    <script src="~/Scripts/Controls/gobControl.js"></script>
    <script src="~/Scripts/Controls/gobGrid.js"></script>
   
    <script src="~/Scripts/jquery/jquery.validate.js"></script>
   
    <script src="~/Scripts/jquery/jquery.validate.unobtrusive.js"></script>

    <script src="https://framework-gb.cdn.gob.mx/assets/scripts/jquery-ui-datepicker.js"></script>

    @RenderSection("scripts", required: false)
    <div id="BackProcess"></div>
    
</body>
</html>
