@model GOB.SPF.ConecII.Web.Models.UiInstituciones
@{
    bool actionView = Model.Action.Equals(GOB.SPF.ConecII.Web.Models.UiEnumEntity.View);
}
@using (Html.BeginForm("Factor", "Catalogo", FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "institucionForm" }))
{
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.Identificador)
    @Html.Hidden("IdParteDocumentoInstituciones", Model.IdParteDocumento)

    <div class="top-buffer">
        <h3>@ViewBag.Title</h3>
        <hr class="red">
    </div>

    <div class="row form-group">
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            @Html.LabelFor(model => model.Nombre)*:
            @if (actionView)
            {
                @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control", placeplaceholder = "Ingresa Nombre", @readonly = true, @disabled = true } })
            }else
            {
                @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control", placeplaceholder = "Ingresa Nombre" } })
            }
            @Html.ValidationMessageFor(model => model.Nombre)
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            @Html.LabelFor(model => model.Negrita)
            @if (actionView)
            {
                @Html.CheckBoxFor(model => model.EsNegrita, new { @class = "form-control", @readonly = true, @disabled = true })
            }
            else
            {
                @Html.CheckBoxFor(model => model.EsNegrita, new { @class = "form-control" })
            }
            
            @Html.ValidationMessageFor(model => model.EsNegrita)
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            @Html.LabelFor(model => model.Orden)
            @if (actionView)
            {
                @Html.EditorFor(model => model.Orden, new { htmlAttributes = new { @class = "form-control", placeplaceholder = "Ingresa orden en la lista", @readonly = true, @disabled = true } })
            }
            else
            {
                @Html.EditorFor(model => model.Orden, new { htmlAttributes = new { @class = "form-control", placeplaceholder = "Ingresa orden en la lista" } })
            }
            
            @Html.ValidationMessageFor(model => model.Orden)
        </div>
    </div>
    <div class="row form-group">
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            @Html.LabelFor(model => model.Activo)
            @if (actionView)
            {
                @Html.CheckBoxFor(model => model.EsActivo, new { @class = "form-control", @readonly = true, @disabled = true })
            }
            else
            {
                @Html.CheckBoxFor(model => model.EsActivo, new { @class = "form-control" })
            }
            
            @Html.ValidationMessageFor(model => model.EsActivo)
        </div>
        
    </div>
    <p class="pull-left">*Campos obligatorios</p>
    <div class="pull-right">
        <button type="button" class="btn btn-default" id="btnBack">
            <span class="glyphicon glyphicon-backward"></span>Cancelar
        </button>

        @if (!actionView)
        {
            <button type="button" class="btn btn-default" id="btnSave">
                <span class="glyphicon glyphicon-save"></span>Guardar
            </button>
        }
    </div>
}