@using GOB.SPF.ConecII.Web.Models;
@{

    if (Model.Actividades != null)
    {
        foreach (var actividad in Model.Actividades)
        {
            var listDocumento = ((List<UiTiposDocumento>)Model.Documentos).Where(f => f.IdActividad == actividad.IdActividad).ToList();
            if (listDocumento != null && listDocumento.Count() > 0)
            {
                <label>@actividad.Nombre</label><br /><span style="font-size: 10px;padding-left: 14px;">Aplica/Obligatorio</span>
                foreach (UiTiposDocumento documento in listDocumento)
                {
                    var preconfigurado = ((List<UiConfiguracionServicio>)Model.ConfiguracionServicio).ToList()
                        .Where(f => f.IdCentroCostos == actividad.IdArea
                        && f.IdTipoServicio == actividad.IdServicio
                        && f.IdRegimenFiscal == actividad.IdRegimen
                        && f.IdActividad == documento.IdActividad
                        && f.IdTipoDocumento == documento.Identificador).FirstOrDefault();

                    string id = string.Format("{0}{1}{2}", actividad.IdRegimen, documento.IdActividad, documento.Identificador);
                    if (preconfigurado != null)
                    {
                        <div id="@id"
                             data-regimen="@actividad.IdRegimen"
                             data-actividad="@documento.IdActividad"
                             data-documento="@documento.Identificador"
                             data-activo="@(preconfigurado.Aplica ? "true":"false")"
                             data-requerido="@(preconfigurado.Obigatoriedad?"true":"false")"
                             data-tiempo="@preconfigurado.Tiempo">


                            <span class="checkbox">
                                <label style="padding-left: 45px;">
                                    <input type="checkbox" name="documento" onchange="ActivaRequerido(this)" data-parent="@id" @(preconfigurado.Aplica ? "checked" : "")>
                                </label>
                                <label style="padding-left: 40px;position: absolute;">
                                    <input type="checkbox" name="requerido" @(preconfigurado.Aplica ? "" : "disabled=disabled")  @(preconfigurado.Obigatoriedad ? "checked" : "") onchange="Requerido(this)" data-parent="@id">
                                    <span style="padding-left: 20px">@documento.Nombre</span>
                                </label>
                            </span>
                        </div>
                    }
                    else
                    {
                        <div id="@id"
                             data-regimen="@actividad.IdRegimen"
                             data-actividad="@documento.IdActividad"
                             data-documento="@documento.Identificador"
                             data-activo="@actividad.Activo"
                             data-requerido="@actividad.Requerido"
                             data-tiempo="@actividad.Tiempo">


                            <span class="checkbox">
                                <label style="padding-left: 45px;">
                                    <input type="checkbox" name="documento" onchange="ActivaRequerido(this)" data-parent="@id">
                                </label>
                                <label style="padding-left: 40px;position: absolute;">
                                    <input type="checkbox" name="requerido" disabled="disabled" onchange="Requerido(this)" data-parent="@id">
                                    <span style="padding-left: 20px">@documento.Nombre</span>
                                </label>
                            </span>
                        </div>
                    }
                }
            }
        }
    }
}
