@model IEnumerable<GOB.SPF.ConecII.Entities.Plantilla.Instituciones>

@{
    GOB.SPF.ConecII.Entities.Plantilla.InstitucionesDtoBuscar buscar = new GOB.SPF.ConecII.Entities.Plantilla.InstitucionesDtoBuscar();
    buscar.ItemId = 0;
    buscar.IdTipoDocumentoBuscar = ViewBag.IdTipoDocumento;
    int contador = 0;
}
@*<div class="row">
        <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11">
            @if (@ViewBag.msj != null)
            {
                <div class="alert alert-success alert-Dismissible" role="alert" style="padding:6px;margin-bottom:0px">
                    <button type="button" class="close" data-dismiss="alert">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                    @ViewBag.msj
                </div>
            }
        </div>

        <div class="col-xs- col-sm-1 col-md-1 col-lg-1">
            <div class="pull-right">
                @Ajax.ActionLink(" Agregar", "ModifyItem", "InstitucionesUI", buscar,
                                    new AjaxOptions
                                    {
                                        HttpMethod = "POST",
                                        InsertionMode = InsertionMode.Replace,
                                        UpdateTargetId = "AddEditInstituciones",
                                        OnSuccess = "rendererValidator"
                                    }, new { @class = "btn btn-primary  glyphicon glyphicon-plus-sign", data_toggle = "modal", data_target = "#addEditInstituciones" })
            </div>
        </div>
    </div>*@
<div class="grid-container">
    
    <table class="table table-responsive">
        <thead>
            <tr>
                
                <th class="col-xs-4">
                    Institucion
                </th>
                <th class="col-xs-4">
                    @Html.DisplayNameFor(model => model.Negrita)
                </th>
                <th class="col-xs-4">
                    @Html.DisplayNameFor(model => model.Orden)
                </th>
                <th class="col-xs-1"><button class="btn btn-default btn-xs"><span class="glyphicon glyphicon-plus New "></span></button>
                @Ajax.ActionLink(" ", "ModifyItem", "InstitucionesUI",
                        buscar,
                        new AjaxOptions
                        {
                            HttpMethod = "POST",
                            InsertionMode = InsertionMode.Replace,
                            UpdateTargetId = "AddEditInstituciones"
                        }, new { @class = "btn btn-default btn-xs glyphicon glyphicon-plus New", data_toggle = "modal", data_target = "#addEditInstitucionesModal" })
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                contador++;
                <tr>                    
                    <td class="col-xs-4">
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td class="col-xs-4">
                        @Html.DisplayFor(modelItem => item.Negrita)
                    </td>
                    <td class="col-xs-4">
                        @Html.DisplayFor(modelItem => item.Orden)
                    </td>
                    <td class="col-xs-1">
                        @{
                            buscar.ItemId = item.IdInstitucion;
                            
                        }
                        @Ajax.ActionLink(" ", "ModifyItem", "InstitucionesUI",
                        buscar,
                        new AjaxOptions
                        {
                            HttpMethod = "POST",
                            InsertionMode = InsertionMode.Replace,
                            UpdateTargetId = "AddEditInstituciones"
                        }, new { @class = "btn btn-default btn-xs glyphicon glyphicon-pencil edit", data_toggle = "modal", data_target = "#addEditInstitucionesModal" })

                        
                    </td>
                </tr>
            }            
        </tbody>        
    </table>
</div>

@{
    buscar.ItemId = null;
}
