@model GOB.SPF.ConecII.Web.Models.UiFracciones
@using (Html.BeginForm("Fraccion", "Catalogo", FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "fraccionForm" }))
{
    @Html.ValidationSummary(true)
    <div class="top-buffer">
        <h3>@ViewBag.Title</h3>
        <hr class="red" />
    </div>
    if (Model.Action.Equals(GOB.SPF.ConecII.Web.Models.UiEnumEntity.View))
    {
        <div class="form-group">
            <div>
                <div class="col-md-4">
                    @Html.LabelFor(m => m.Nombre, "Nombre*:")
                    @Html.TextBoxFor(m => m.Nombre, new { @class = "form-control", placeholder = "Ingresa Nombre", @readonly = true, @disabled = true })
                    @Html.ValidationMessageFor(m => m.Nombre)
                </div>
                <div class="col-md-4">
                    @Html.LabelFor(m => m.Descripcion, "Descripción*:")
                    @Html.TextBoxFor(m => m.Descripcion, new { @class = "form-control", placeholder = "Ingresa Descripción", @readonly = true, @disabled = true })
                    @Html.ValidationMessageFor(m => m.Descripcion)
                </div>
            </div>
            <div>
                <div class="col-md-4">
                    @Html.LabelFor(m => m.IdDivision, "Division*:")
                    @Html.DropDownList("Divisiones", null, "Selecciona la División", htmlAttributes: new { @class = "form-control char10", @readonly = true, @disabled = true })
                    @*@Html.DropDownListFor(m => m.IdDivision, (IEnumerable<SelectListItem>)ViewBag.Divisiones, "Selecciona la División", htmlAttributes: new { @class = "form-control" })*@
                    @Html.ValidationMessageFor(m => m.IdDivision)
                </div>
                <div class="col-md-4">
                    @Html.LabelFor(m => m.IdGrupo, "Grupo*:")
                    @Html.DropDownListFor(m => m.IdGrupo, (IEnumerable<SelectListItem>)ViewBag.Grupoes, "Selecciona un Grupo", htmlAttributes: new { @class = "form-control", @readonly = true, @disabled = true })
                    @Html.ValidationMessageFor(m => m.IdGrupo)
                </div>
            </div>
        </div>
    }
    else
    {
        @Html.HiddenFor(m => m.Identificador)
        <div class="form-group">
            <div>
                <div class="col-md-4">
                    @Html.LabelFor(m => m.Nombre, "Nombre*:")
                    @Html.TextBoxFor(m => m.Nombre, new { @class = "form-control", placeholder = "Ingresa Nombre" })
                    @Html.ValidationMessageFor(m => m.Nombre)
                </div>
                <div class="col-md-4">
                    @Html.LabelFor(m => m.Descripcion, "Descripción*:")
                    @Html.TextBoxFor(m => m.Descripcion, new { @class = "form-control", placeholder = "Ingresa Descripción" })
                    @Html.ValidationMessageFor(m => m.Descripcion)
                </div>
            </div>
            <div>
                <div class="col-md-4">
                    @Html.LabelFor(m => m.IdDivision, "Division*:")
                    @Html.DropDownListFor(m => m.IdDivision, (IEnumerable<SelectListItem>)ViewBag.Divisiones, "Selecciona la División", htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.IdDivision)
                </div>
                <div class="col-md-4">
                    @Html.LabelFor(m => m.IdGrupo, "Grupo*:")
                    @Html.DropDownListFor( m => m.IdGrupo, (IEnumerable<SelectListItem>)ViewBag.Grupoes, "Selecciona un Grupo",  htmlAttributes: new { @class = "form-control char10" })
                    @Html.ValidationMessageFor(m => m.IdGrupo)
                </div>
            </div>
        </div>

    }
    <p class="pull-left">*Campos obligatorios</p>
    <div class="pull-right">
        <button type="button" class="btn btn-default" id="btnBack">
            <span class="glyphicon glyphicon-backward"></span>Cancelar
        </button>

        @if (!Model.Action.Equals(GOB.SPF.ConecII.Web.Models.UiEnumEntity.View))
        {
            <button type="button" class="btn btn-default" id="btnSave">
                <span class="glyphicon glyphicon-save"></span>Guardar
            </button>
        }
    </div>
}
<script>
    $(document).ready(function () {

        $('#IdDivision').on('change', function () {
            
            var Id = this.value;

            $("#IdGrupo").empty();
            $("#IdGrupo").append("<option value='0'>Selecciona Grupo</option>");

            if (Id != "")
            {
                $.ajax({
                    type: 'POST',
                    url: "/Catalogo/FraccionEnlistarGrupoPorDivision",
                    dataType: "json",
                    data: {
                        IdDivision: Id
                    },
                    success: function (data) {
                        $.each(data, function (i, data) {
                        
                            var div_data = "<option value=" + data.Identificador + ">" + data.Name + "</option>";

                            $(div_data).appendTo('#IdGrupo');
                        });
                    }
                   
                });
            }
            else
            {
                $("#IdGrupo").empty();
                //$("#m.IdGrupo").append("<option value='0'>Selecciona un Grupo</option>");
            }
        });

    });

</script>
