@model GOB.SPF.ConecII.Web.Models.UiCliente

@using (Html.BeginForm("Cliente", "Solicitud", FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "clienteForm" }))
{
    @Html.ValidationSummary(true)
    <div class="top-buffer">
        <h3>@ViewBag.Title</h3>
        <hr class="red" />
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Datos generales</div>
        <div class="panel-body">
            <div class="form-horizontal">
                <div class="form-group">
                    <div class="col-md-7">
                        @Html.LabelFor(m => m.RazonSocial, "Razón Social*:")
                        @Html.TextBoxFor(m => m.RazonSocial, new { @class = "form-control", placeholder = "Ingresa la Razón Social" })
                        @Html.ValidationMessageFor(m => m.RazonSocial, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-5">
                        @Html.LabelFor(m => m.NombreCorto, "Nombre Corto*:")
                        @Html.TextBoxFor(m => m.NombreCorto, new { @class = "form-control", placeholder = "Ingresa el Nombre corto" })
                        @Html.ValidationMessageFor(m => m.NombreCorto, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-4">
                        @Html.LabelFor(m => m.RFC, "RFC*:")
                        @Html.TextBoxFor(m => m.RFC, new { @class = "form-control", placeholder = "Ingresa el RFC del cliente" })
                        @Html.ValidationMessageFor(m => m.RFC, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-4">
                         @Html.LabelFor(m => m.IdRegimenFiscal, "Régimen fiscal*:")
                         @Html.DropDownListFor(m => m.IdRegimenFiscal, (IEnumerable<SelectListItem>)ViewBag.RegimenFiscalList, "Selecciona el Régimen fiscal", htmlAttributes: new { @class = "form-control" })
                         @Html.ValidationMessageFor(m => m.IdRegimenFiscal, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-4">
                         @Html.LabelFor(m => m.IdSector, "Sector*:")
                         @Html.DropDownListFor(m => m.IdSector, (IEnumerable<SelectListItem>)ViewBag.SectorList, "Seleccione el Sector", htmlAttributes: new { @class = "form-control" })
                         @Html.ValidationMessageFor(m => m.IdSector, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
    </div>

    if (!Model.Action.Equals(GOB.SPF.ConecII.Web.Models.UiEnumEntity.View))
    {
        @Html.HiddenFor(m => m.Identificador)
    }
}

<div id="clienteDomicilio"></div>
<div class="row">
    <div id="clienteSolicitantes" class="col-sm-6">
    </div>
    <div id="clienteContactos" class="col-sm-6">
    </div>
</div>
<div class="panel">
    <div class="panel-body">
        <p class="pull-left">*Campos obligatorios</p>
        <div class="pull-right">
            <button type="button" class="btn btn-default" id="btnBack">
                <span class="glyphicon glyphicon-backward"></span>
                Cancelar
            </button>

            @if (!Model.Action.Equals(GOB.SPF.ConecII.Web.Models.UiEnumEntity.View))
            {
                <button type="button" class="btn btn-default" id="btnSave">
                    <span class="glyphicon glyphicon-save"></span>
                    Guardar
                </button>
            }
        </div>
    </div>
</div>

